# 출력 기초

In [3]:
print("줄 띄움", end="\n")

줄 띄움

In [4]:
import time as t
print("덮어쓰기", end="\r")
t.sleep(1)
print("내용 덮어쓰기")

내용 덮어쓰기

In [6]:
print(1,2,3,sep="-")  # 숫자 사이에 하이픈

1-2-3

In [1]:
print("%10s" %"hi")  # 앞으로 10칸 띄우기
print("%-10s" %"hi")  # 뒤로 10칸 띄우기
# %로 대입할때 쉼표 쓰지않음,
# 2가지 값을 한번에 넣고싶을 떄
print("%d %s" %(10, "happy"))

        hi
hi
10 happy

In [3]:
# 정렬
"{0:<10}".format("hi")  # 왼쪽정렬
"{0:>10}".format("hi")  # 오른쪽정렬
"{0:^10}".format("hi")  # 가운데정렬

'    hi    '

In [5]:
# 특정문자 개수 세기
a = "happy"
a.count("p")

2

In [7]:
# 문자열 바꾸기
a = "Life is Egg"
c = a.replace("Egg", "Beautiful")  # Egg를 Beautiful로 변환
print(a)
print(c)

Life is Egg
Life is Beautiful

## http 웹사이트 요청

In [6]:
import requests  # http 웹사이트 소스코드 가져올때 사용하는 모듈
url = 'https://v.daum.net/v/20250203151815463'
res = requests.get(url).text  # url 소스코드 text로 가져오기
print(res[374:411])  # 특정 부분만 출력
print(res.find("한"))  # "한"이라는 글자가 있는 위치 출력

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 2배
374

# 리스트 자료형

In [11]:
a = []
b = [1, 2, 3]
c = ["Life", "is", "too", "short"]
d = [1, 2, "Life", "is"]
e = [1, 2, ["Life", "is"]]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [12]:
# 리스트 값 삭제
print(c)  # 원본
del c[3]
print(c)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too']

In [13]:
# 리스트 요소 비우기
print(c)
c.clear()
print(c)

['Life', 'is', 'too']
[]

In [24]:
a = []  # 리스트 초기화
# 리스트 요소 추가
a.append(4)
print(a)
a.append(5)
print(a)

[4]
[4, 5]

In [16]:
# 리스트 오름차순
asc = [11, 44, 33, 22, 55]
asc.sort()
print(asc)

[11, 22, 33, 44, 55]

In [17]:
# 리스트 내림차순
desc = [11, 44, 33, 22, 55]
desc.sort(reverse=True)
print(desc)

[55, 44, 33, 22, 11]

In [18]:
# 리스트 뒤집기
aa = [11, 44, 33, 22, 55]
aa.reverse()
print(aa)

[55, 22, 33, 44, 11]

In [20]:
# 인덱스 변환
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
print(fruit.index('melon'))  # melon의 위치를 정수로 반환

3

In [25]:
# 특정 위치에 요소 삽입
num = [11, 22, 33, 55, 66, 77, 88]
print(num)
num.insert(3, 44)  # 인덱스 값이 3인 자리에 44 대입
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [27]:
# 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(2)  # 2라는 요소 삭제 (제일 먼저 나오는 하나만)
print(a)

[1, 3, 1, 2, 3]

In [29]:
# 리스트 요소 꺼내기
a = [1, 2, 3]
b = a.pop()  # 마지막 요소 꺼내서 b에 넣음
print(a)
print(b)

[1, 2]
3

In [30]:
a = [1, 2, 3]
a.pop(1)  # 선택부분 pop
print(a)

[1, 3]

In [31]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

# 튜플 자료형

In [34]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a', 'b', ('ab', 'cd'))

In [36]:
# 튜플은 요소값을 삭제하거나 수정할 수 없다

In [1]:
# 인덱싱    ex) t5[0]
# 슬라이싱  ex) t5[2:]
# 튜플 합치기 ex) t3 = t1 + t2
# 튜플 곱하기 ex) t3 = t2 * 2  --> 2번 반복출력
# 튜플 길이 구하기 ex) len(t5)

# 딕셔너리 자료형
- {키:값, 키:값, ...}

In [2]:
dic = {'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118'}

In [3]:
print(dic['name'])

pey

In [5]:
# 값 안에 값  꺼내기
dic2 = {'aa':{'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118'}}
dic2['aa']['phone']

'010-1234-1234'

In [6]:
# 딕셔너리 쌍 추가
dic["adress"] = "busan"
print(dic)

{'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118', 'adress': 'busan'}

In [8]:
# 딕셔너리 쌍 삭제
del dic["adress"]
print(dic)

{'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118'}

In [9]:
# 딕셔너리 생성 시 주의사항
# 키 값 중복 불가
# 키 값이 중복되면 먼저 들어간 값을 무시하는 오류 발생

In [13]:
a = {'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118', 'adress': 'busan', 'array': [1, 2, 3, 4, 5]}

In [14]:
# key 리스트 만들기 - keys
print(a.keys())               # 키값만 출력
# value 리스트 만들기 - values
print(a.values())             # 값만 출력
# key, value 쌍 얻기 - items
print(a.items())              # 둘 다 출력
# key:value 쌍 모두 지우기 - clear
print(a)
a.clear()  # 삭제
print(a)

dict_keys(['name', 'phone', 'birth', 'adress', 'array'])
dict_values(['pey', '010-1234-1234', '1118', 'busan', [1, 2, 3, 4, 5]])
dict_items([('name', 'pey'), ('phone', '010-1234-1234'), ('birth', '1118'), ('adress', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118', 'adress': 'busan', 'array': [1, 2, 3, 4, 5]}
{}

In [16]:
# key로 value값 얻기
a = {'name': 'pey', 'phone': '010-1234-1234', 'birth': '1118', 'adress': 'busan', 'array': [1, 2, 3, 4, 5]}
print(a.get('name'))
print(a.get('super'))  # 없는 키는 None이라고 나옴

pey
None

In [17]:
# 해당 key가 딕셔너리 안에 있는지
print('name' in a)

True

# 집합자료형

In [20]:
# 순서 X, 중복 X
s1 = set({1,2,3})
print(s1, type(s1))
s2 = set("Hello")
print(s2, type(s2))  # 순서 X, 중복 X

{1, 2, 3} <class 'set'>
{'o', 'e', 'l', 'H'} <class 'set'>

In [21]:
# 집합 자료형의 특징
s1 = set([11, 22, 33, 11, 22])
l1 = list(s1)
print(l1, type(l1))
t1 = tuple(s1)
print(t1, type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

## 교집합, 합집합, 차집합 구하기

In [23]:
# 교집합   intersection
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [24]:
# 합집합   union
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
# 차집합
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

In [27]:
# 값 1개 추가      add
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [28]:
# 값 여러개 추가   update
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [29]:
# 특정값 제거      remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

## 리스트의 옅은복사 깊은복사

In [30]:
a = [1,2,3]
b = a    # b에 a 삽입
print(a, id(a))  # a 아이디
print(b, id(b))  # b 아이디 (a와 같음)
b[1] = 7  # b[1]에 7 삽입
print(a, id(a))  # a의 값도 같이 교체
print(b, id(b))

[1, 2, 3] 1491845540800
[1, 2, 3] 1491845540800
[1, 7, 3] 1491845540800
[1, 7, 3] 1491845540800

In [31]:
a is b

True

In [32]:
from copy import copy
c = [11,22,33]
# d = copy(c)      방식1
# d = c[:]         방식2
d = c.copy()     # 방식3  # d에 c값을 복사
print(c, id(c))  # c 아이디 출력
print(d, id(d))  # d 아이디 출력 (c와 다름)
d[1] = 77        # d[1]에 77 삽입
print(c, id(c))  
print(d, id(d))  # d[1] 값이 77로 바뀐채 출력

[11, 22, 33] 1491845404352
[11, 22, 33] 1491845501632
[11, 22, 33] 1491845404352
[11, 77, 33] 1491845501632

In [33]:
c is d

False